
<h1><%= @job.heading %></h1>

<div id="container">
  Youth that requested more information:

    <div class="interests-table">
      <table>
        <tr>
          <th>Name of Youth</th>
          <th>Email</th>
          <th>Response Sent</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <div class="agency-response">
            <td><%= link_to "yes", "#", :class => 'send-response', remote: true %></td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
    <br><br>
</div>
