
<h1><%= @job.heading %></h1>

<div id="container">
  Youth that requested more information:

    <div class="interests-table">
      <table>
        <tr>
          <th>Name of Youth</th>
          <th>Email</th>
          <th>Response Sent</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <div class="agency-response">
            <% @interest = get_interest(user.id, @job.id) %>
            <td><%= link_to "yes", interest_path(@interest), :class => 'send-response', method: :put, remote: true %></td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
    <br><br>
</div>
