
<div id="container">
	<%@categories.each do |category|%>
		<div class="cat_square <%=category.name%>"><a href="/categories/<%=category.id%>"><%=category.name%></a></div>
	<%end%>
</div> <!-- end container -->

