// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cat_square a {
	text-decoration: none;
}


.cat_square {
	height: 200px;
	width: 200px;
	border: 1px solid red;
	display: inline-block;
	margin: 5px 5px 5px 5px;
}

#new-user-form {

}




#login-form form p input {
  height: 33px;
}

#new-job-form {
	display: none;
	/*position: absolute;*/
	background-color: white;
}

#new-user-form form p input {
  height: 33px;
}

.job-box {
  margin: 10px 30px;
  border-radius: 5px;
  padding: 0px;
  border: 2px solid #16a085;;
  }

@media (min-width: 992px) {
  .job-box-response {
    height: 300px;
  }
}

 /* .notapplied {
    border: 2px solid #16a085;
  }*/

 .interested {
  border: 2px solid #16a085;
  background: #1abc9c;
  color: #FAF1E3;
}


.job-desc {
	border-bottom: 1px solid #16a085;
	border-top: 1px solid #16a085;
  padding: 5px 20px;
}

.more-btn {
	display: inline;
}

.request-btn {
	display: inline;
}

.btn-lg, .btn-group-lg>.btn {
  
  padding: 10px 42px;
  color: #16a085;

}

.guest_interest-btn .btn .btn-default .apply-btn {
  margin-right: -1px;
}


.hidden {
  display: none;
}

.getapp {
  float: right;
  margin-right: 3px;
  margin-top: 2px;
  display: inline-block;
}

.job-heading {
  text-align: center;
  padding: 0;
}

.navbar-brand {
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
  display: inline-block;
  width: 33%;
 
}

.navbar-brand a {
   color: #fff;
}

.menu {
  width: 33%;
  display: inline-block;
}

.menu a:active, a:hover {
  color: #1abc9c; 
  text-decoration: none;
}
/*.navbar_brand a {
  text-decoration: none;
  color: #FDF4E9;

}*/

.sign_in {
  display: inline-block;
  width: 33%;
  padding: none;
  margin: 0;

}

/*  #FDF4E9; #1abc9c; */

.navbar, .navbar-default, .navbar-fixed-top {
  background: #16a085;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    padding: 5px 0px;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:active, a:hover {
  color: #16a085;
  text-decoration: none;
}


.btn-facebook {
  line-height: 44px;
  padding: 2px 15px;
  border: none;
  margin: 8px 0px 0px 8px;
}

.btn-facebook1 {
  line-height: 44px;
  padding: 2px 15px;
  border: none;
  margin: 0;
  margin-top: 0;
}

.navbar .btn {
   margin-top: 0;
}



body {
  background-color: #FAF1E3;
  color: #1abc9c;
 padding-top: 70px; 
}

nav .img-responsiveness {
  margin-left: 10px;
  max-width: 60%;
}
