table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px 5px;
  text-align: left;
}

.agency-job-box {
  border: 1px solid lightgrey;
  padding: 20px;
  width: fluid;
  border-radius: 10px;
margin-left: auto;
margin-right: auto;
  margin: 10px;

}

.agency-job-desc {
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}

.interests {
  color: #4CBB17;
  display: inline;
}

.button_height {
  height: 45px;
  vertical-align: center;
}

@media(min-width:1080px){
  .agency-job-box {
    height: 540px;
  }
}

@media(min-width:893px) and (max-width: 1079px){
  .agency-job-box {
    height: 580px;
  }
}


.agency-buttons {
  margin-top: 10px;
}

.agency-job-header {
  border-bottom: solid 1px lightgrey;
  margin-bottom: 8px;
}

.agency-job-description {
  border-top: solid 1px lightgrey;
  margin-top: 8px;
  padding-top: 8px;
}

.youth_number {
  width: 50%;
  display: inline-block;
  float: left;
}

#new-job-form {
  margin-top: 15px;
}