
		<button class ="interest-btn btn job-<%=job.id%> btn-default apply-btn ">Get Application</button>
		<button class ="hidden btn btn-default notinterest-btn job-<%=job.id%> ">Change Your Mind</button>

