
<div id="container">
	<%@categories.each do |category|%>
		<div class="cat_square <%=category.name%>"><a href="/categories/<%=category.id%>">
			<%= image_tag(category.id.to_s + ".png", :alt => category.name ) %>
			<%=category.name%></a></div>
	<%end%>
</div>

