
<div id="container">
	<%@categories.each do |category|%>
		<div class="cat_square <%=category.name%>">
			<a href="/categories/<%=category.id%>"><%=category.name%></a>
			<p><%=category.jobs.length%> jobs</p>
		</div>
	<%end%>
</div>

