<h1><%= @category.name %></h1>

<div id="container">
	<%@category.jobs.each do |job|%>
		<div class="job-box" id="job-#{job.id}">
			<div class="job-heading">
				<%=job.heading%>
			</div>
			<div class="job-desc">
				short description
			</div>
			<div class="job-footer">
				<div class="more-btn">
					<%= button_to "Read more...", job, remote: true %>
				</div>
				<div class="request-btn">
					Request Information
				</div>
			</div>
		</div>
		<br><br>
	<%end%>
</div>