<div class="pull-left menu">
  <%= link_to class="btn pull-left btn-facebook1 navbar-btn">Menu</button>
</div>

 <div class="navbar-brand">
    <%= link_to "Yobs", root_path %>
  </div> 
<div class = "pull-right sign_in">
  <% if current_user %>
     <%= button_to "Log out", session_path, :class => "btn-signin pull-right btn-facebook btn navbar-btn", method: :delete %>
  <% else %>
      <%= button_to "Sign Up", sign_up_path, :class => "btn-signin pull-right btn-facebook btn navbar-btn", :method => :get %>
  <% end %>

</div>
 
